// variables

$primary-color: #18063c;
$secondary-color: #ececf7;
$accent-color: #6a4331;
$accent-color-two: #ddf1f0;
$accent-color-three: #f3e7f1;
$white-color: #ffffff;

// typography
h1,
h2 {
  color: $primary-color;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
}

p,
.regular-text {
  color: $primary-color;
  text-align: justify;
}

.main-heading {
  font-size: 48px;
}
.sub-heading {
  font-size: 32px;
}

.btn {
  padding: 10px 30px;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: "Nunito", sans-serif;
}

.btn-outline {
  color: $primary-color;
  border-radius: 20px;
  border: 1px solid $accent-color;

  &:hover {
    border: none;
    color: $white-color;
    background-color: $accent-color;
  }
}

.btn-fill {
  font-size: 18px;
  padding: 18px 44px;
  text-transform: uppercase;
  background-color: $accent-color;
  color: $white-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  margin-block: 0.1rem;
  background-color: $white-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 10px;
}

.fix-gap {
  padding-top: 87px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  padding-inline: 5%;
  background-color: $white-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  #logo {
    width: 200px;
    & > img {
      width: 200px;
      max-width: 100%;
    }
  }

  nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .burger {
      border: 1px solid $accent-color;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3px;
      position: relative;

      & > div {
        height: 2px;
        width: 20px;
        background-color: $accent-color;
        transition: 0.4s ease;
      }

      &:hover {
        background-color: $accent-color;
        border: none;
        cursor: pointer;
        & > div {
          background-color: $white-color;
        }
      }
    }

    .burger.active .line-2 {
      transform: scale(0);
    }
    .burger.active .line-1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
    .burger.active .line-3 {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%) rotate(45deg);
    }
  }
}

.navbar {
  min-width: 275px;
  background-color: $white-color;
  border: 1px solid $accent-color;
  border-radius: 24px;
  padding: 32px;
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  top: 100px;
  right: 5%;
  transform: translateY(-200%);
  transition: 0.4s ease-in-out;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .main-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin-bottom: 30px;

    li {
      list-style-type: none;

      a {
        color: $primary-color;
        font-size: 20px;
        font-weight: 700;
        transition: 0.4s ease;
      }
      a:hover {
        text-decoration: none;
        transform: translateX(50px);
      }
    }
  }

  .nav-social-links {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      color: $primary-color;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      border: 1px solid $primary-color;
      border-radius: 50%;

      &:hover {
        text-decoration: none;
        background-color: $accent-color;
        color: $white-color;
        border: none;
      }
    }
  }
}

.overlay {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-200%);
  transition: 0.4s ease-in-out;
}

.navbar.active,
.overlay.active {
  transform: translateY(0);
}

.hero {
  background-color: $secondary-color;
  padding-block: 60px;

  .tree-bg {
    margin-bottom: 20px;

    & h1 {
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        content: " ";
        width: 529px;
        height: 137px;
        bottom: 6px;
        left: -35px;
        background-image: url("/assets/hero-text.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -1;
      }
    }
  }

  p {
    line-height: 1;
    margin: 0;
  }

  .hero-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 100%;

    .hero-image {
      border-radius: 24px;
      overflow: hidden;

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.play-video {
  width: 100%;
  height: 700px;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.welcome-container {
  padding-block: 56px;

  .main-heading {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 30px;

    .wt-line-2 {
      align-self: flex-end;
    }
  }

  .wt-btn {
    padding: 18px 44px;
    display: block;
    font-weight: 900;
    text-align: center;
    min-width: 265px;
    width: fit-content;
    margin: 0 auto 30px;
    border-radius: 152px;

    &:hover {
      color: $white-color;
      background-color: #a28070;
    }
  }

  .nft-number-container {
    transform: rotate(-8deg);
    margin-top: 10%;
    margin-inline: auto;
    width: fit-content;
    position: relative;

    .nft-number {
      font-size: 90px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 60%;
      height: 195px;
      width: 43px;
      background: url("/assets/arrow.svg") center no-repeat;
      transform: translateY(100%) rotate(-40deg);
    }
  }
}

.swiper-container {
  width: max-content;

  .swiper {
    width: auto;
    display: flex;
    overflow-x: hidden;
    gap: 30px;

    .swiper-card {
      flex-shrink: 0;
      height: 270px;
      width: 270px;
      border-radius: 24px;
      overflow: hidden;
      margin-bottom: 30px;

      & img {
        width: 100%;
        object-fit: cover;
        object-position: bottom center;
      }
    }
  }
}

#about {
  padding-block: 56px;
  margin-top: 10px;
  background-color: $accent-color-two;

  .about-content {
    width: 75%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

    & .main-heading {
      align-self: flex-start;
    }

    & p {
      align-self: flex-end;
      width: 70%;
      margin-block: 30px;
    }
  }

  .about-access {
    margin-top: 20px;

    & > .sub-heading {
      text-align: center;
      margin-bottom: 56px;
    }

    .access-card {
      background-color: $white-color;
      border: 4px solid $primary-color;
      height: 356px;
      border-radius: 28px;
      padding: 40px 40px 56px;

      .sub-heading {
        font-size: 28px;
      }
    }

    .access-card-1 {
      background-image: url("/assets/safe.webp");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 256px;
    }

    .access-card-2 {
      background-image: url("/assets/money.webp");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 256px;
    }
  }
}

.roadmap-container {
  width: 70%;
  margin: 56px auto;

  .main-heading {
    text-align: center;
  }

  & > p {
    width: 50%;
    margin-inline: auto;
    margin-block: 40px;
    text-align: center;
  }

  .roadmap {
    width: 60%;
    margin-inline: auto;
    border-left: 3px solid $primary-color;
    padding-left: 30px;
    padding-block: 10px;

    .roadmap-item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;

      .sub-heading {
        font-size: 24px;
        font-weight: 900;
        color: $primary-color;
      }

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        background-color: $primary-color;
        left: -37px;
      }

      img {
        width: 100px;
      }
    }

    .roadmap-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

#comic {
  background-color: $accent-color-three;
  padding-block: 56px;

  .comic-inner-section {
    width: 56%;
    margin: 0 auto;
    text-align: center;

    p {
      max-width: 500px;
      margin-inline: auto;
      margin-block: 40px;
      text-align: center;
    }
  }

  .comic-images {
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      height: 270px;
      border: 4px solid $primary-color;
      border-radius: 24px;
    }

    img.rotate-left {
      transform: translateY(-12px) rotate(-8deg);
    }

    img.rotate-right {
      transform: translateY(8px) rotate(5deg);
    }
  }
}

#team {
  padding-block: 56px;
  width: 90%;
  margin-inline: auto;

  .team-inner-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    .team-card {
      max-width: 240px;
      width: 23%;
      text-align: center;

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
        margin-inline: auto;
        margin-bottom: 24px;
      }

      .team-position {
        color: $primary-color;
      }
    }
  }
}

#faq-section {
  padding-block: 56px;
  background-color: $accent-color-two;

  .faqs {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .faq {
      background-color: $white-color;
      border: 4px solid $primary-color;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      .faq-toggle {
        font-size: 24px;
        margin: 0;
        padding: 24px 56px;
        line-height: 2;
        color: $primary-color;
        font-weight: 900;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 24px;
          height: 24px;
          right: 56px;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.2s ease;
          background: url("/assets/open.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .faq-toggle.active::after {
        transform: translateY(-50%) rotate(45deg);
      }

      .faq-content {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        padding-inline: 56px;
        ol {
          padding-left: 16px;
          li {
            padding-left: 8px;
            color: $primary-color;
          }
        }
      }

      .faq-content.active {
        height: auto;
        visibility: visible;
        overflow: visible;
        margin-top: 16px;
        transition: all 0.2Ss ease-in-out;
      }
    }
  }
}

footer {
  padding: 24px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo {
    width: 120px;

    img {
      width: 120px;
      max-width: 100%;
    }
  }

  .copyright {
    width: fit-content;
    font-size: 14px;
    margin: 0;
  }

  .social-links {
    width: fit-content;
    display: flex;
    gap: 16px;

    a {
      text-decoration: none;
      color: $primary-color;
      height: 32px;
      width: 32px;
      border: 1px solid $primary-color;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
      }

      &:not(:last-child):hover {
        color: $white-color;
        background-color: $accent-color;
        border: none;
      }
    }
  }
}
